include ../rate-button/rate-button

mixin room-card(params)

  - const { classes, photoName, number, type, price, photos, reviewsCount, rating} = params;
  - const { getNoun } = require('../../utils');

  div(class=classes)
    a.room-card__link(href='room-details.html')
      .room-card__carousel
        for photoName in photos
          .room-card__slide
            img(
                src=(`img/${photoName}.png`)
                alt=`Комната №${number}`
              )
      .room-card__info
        .booking__wrapper_room-card
          .booking__info.booking__info_room-card
            h2(class='booking__number')=number
            span.booking__type=type
            span.booking__price
              span.booking__price-value=price
              | в сутки
        .room-card__review
          +rate-button(rating, true)
          p.room-card__review-count
              span.room-card__review-count-value= reviewsCount + ' '
              = getNoun(reviewsCount, 'Отзыв', 'Отзыва', 'Отзывов')
